.Container {
  height: 7.5vh;
  display: inline-flex;
  width: 100%;
  justify-content: center;

}

.Sticky-container {
  display: inline-flex;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
}

.Logo {
  display: flex;
  width: 30%;
  float: left;
  height: 50px;
}

.Header-links {
  display: inline-flex;
  width: 70%;
  float: right;
}
