.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

.Hero-container {
  display: flex;
  justify-content: center;
  background-image: url('./assets/hero-image.jpg');
  background-size: cover;
  height: 100vh;
  font-size: 32px;
  scroll-behavior: smooth;
}

.Intro {
  display: block;
  width: 100%;
  text-align: center;
  text-shadow: 1px 2px #222222;
  font-size: 40px;
  color: white;
  margin-top: 10vh;
}

.Intro-text {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  line-height: 42px;
}

.Name {
  color: #FFCE07;
}

.Developer {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  line-height: 42px;
}

.Floating-image {
  padding-top: 100px;
  height: 40vh;
  width: 100%;
  transform: translateY(0px);
  animation: float 4.5s ease-in-out infinite;
}

.Social {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 10vh;
  color: white;
  align-self: center;
  position: absolute;
}

.Social-icon {
  transition: all 0.5s ease;
  color: white;
}

.Social-icon-facebook:hover {
  color: #3b5998;
}

.Social-icon-linkedin:hover {
  color: #0077B5;
}

.Social-icon-github:hover {
  color: #d5d0d5;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2a2826;
  height: 10vh;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Titillium Web', sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
